* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}

.navbar {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
    background-color: #21222A;
    font-size: 22px;
}

.navbar--logo {
    height: 40px;
    margin-right: 10px;
}

.navbar--subtitle {
    color: #DEEBF8;
    font-weight: 600;
}

.navbar--title {
    color: #61DAFB;
    margin-right: auto;
    font-weight: 700;
}

main {
    padding: 57px 27px;
    color: white;
    letter-spacing: -0.05em;
    background-image: url('./images/react-icon.png');
    background-repeat: no-repeat;
    background-position: right 75%;   
    
}

.main--title {
    margin: 0;
    font-size: 39px;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;;
}